# Python
__pycache__/
.___pycache__
*.c
*.so

# Build artifacts
build/
dist/
*.egg-info/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Files
.env
.env.*

# Local Database
db.sqlite3
db.sqlite3-journal

# IDE / Editor specific
.vscode/
.idea/

# OS specific
.DS_Store
